<!--Cargar carpeta STATIC-->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="static/css/style.css">-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}

        {% endblock %}
        | JCRM
    </title>
</head>
<body>
    <!-- CABECERA DE LA PÁGINA -->
    <header>
        <div id="logotipo">
            <!-- Logo de Django -->
            <img src="{% static 'img/logo.png' %}" alt="">
            <h1>Sitio Web con Django</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/hola-django">Hola Django</a>
            <li><a href="/pagina-pruebas">Página de pruebas</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>
    
    <div id="content">
        <h2 class="title">Titulo de prueba</h2>
        {% block content %}
            <!--Código que viene de Templates-->
            <strong>Contenido del bloque original !!!</strong>
        {% endblock %}
    </div>
    <footer>
        Python - Django &copy; | JCRM
    </footer>
</body>
</html>